@main("Articles") {
    <div ng-app="app" ng-controller="articleCtrl">
        <div class="page-header">
            <div class="btn-group pull-right">
                <button class="btn btn-default" ng-class="{'active':state==='creating'}" ng-click="creating()"><i class="fa fa-file-o"></i></button>
                <button class="btn btn-default" ng-class="{'active':state==='listing'}" ng-click="list()"><i class="fa fa-list"></i></button>
            </div>
            <h1>Articles <br><small>{{state}}</small></h1>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>



        <div ng-if="state==='listing'">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="article in articles">
                    <ng-include src="'@routes.Assets.at("/views/articles/rud.html")'"></ng-include>
                    <ng-include src="'@routes.Assets.at("/views/articles/summary.html")'"></ng-include>
                </a>
            </div>
        </div>


        <div ng-if="state==='reading'">
            <ng-include src="'@routes.Assets.at("/views/articles/rud.html")'"></ng-include>
            <ng-include src="'@routes.Assets.at("/views/articles/summary.html")'"></ng-include>
            <div ng-bind-html="marked(article.content) | trust"></div>
        </div>


        <div ng-if="state==='creating' || state==='updating'">
            <form name="form" novalidate role="form">
                <div class="button-group pull-right">
                    <button class="btn btn-default  " ng-click="list()"><span class="fa fa-times"></span></button>
                    <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save(article)"><span class="fa fa-save"></span></button>
                </div>
                <tabset>
                    <tab>
                        <tab-heading>
                            <i class="fa fa-edit"></i> Editor
                        </tab-heading>
                        <div class="form-group">
                            <label for="title"><strong>Title</strong></label>
                            <input type="text" class="form-control" name="title" placeholder="Enter title" ng-model="article.title" required>
                        </div>
                        <div class="form-group">
                            <label for="summary"><strong>Summary</strong></label>
                            <textarea class="form-control" style="resize:none" name="summary" rows="4" ng-model="article.summary"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="content"><strong>Content</strong></label>
                            <textarea class="form-control" style="resize:none" name="content" rows="32" ng-model="article.content"></textarea>
                        </div>
                    </tab>
                    <tab select="markdown(article)" disabled="!article.title">
                        <tab-heading>
                            <i class="fa fa-eye"></i> Preview
                        </tab-heading>
                        <ng-include src="'@routes.Assets.at("/views/articles/summary.html")'"></ng-include>
                        <div ng-bind-html="marked(article.content) | trust"></div>
                    </tab>
                </tabset>
            </form>
        </div>
    </div>


    @* TODO lz-string should resolved as WebJar *@
    <script src="@routes.Assets.at("javascripts/lz-string-1.3.3-min.js")"></script>
    <script src="@routes.Assets.at("lib/angularjs/angular.min.js")"></script>
    <script src="@routes.Assets.at("lib/angular-ui-bootstrap/ui-bootstrap-tpls.min.js")"></script>
    <script src="@routes.Assets.at("lib/marked/marked.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/filters.js")"></script>
    <script src="@routes.Assets.at("javascripts/services.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
}
