@main("Articles") {
    <div ng-app="app" ng-controller="articleCtrl">
        <div class="page-header">
            <div class="btn-group pull-right">
                <button title="Create" class="btn btn-default" ng-class="{'active':state==='creating'}" ng-click="creating()"><i class="fa fa-file-o"></i></button>
                <button title="List" class="btn btn-default" ng-class="{'active':state==='listing'}" ng-click="list()"><i class="fa fa-list"></i></button>
            </div>
            <h1>Articles <br><small>{{state}}</small></h1>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>


        <div ng-if="state==='listing'">
            <ng-include src="'@routes.Assets.at("/views/articles/list.html")'"></ng-include>
        </div>


        <div ng-if="state==='reading'">
            <ng-include src="'@routes.Assets.at("/views/articles/read.html")'"></ng-include>
        </div>


        <div ng-if="state==='creating' || state==='updating'">
            <ng-include src="'@routes.Assets.at("/views/articles/createUpdate.html")'"></ng-include>
        </div>
    </div>


    @* TODO lz-string should resolved as WebJar *@
    <script src="@routes.Assets.at("lib/angularjs/angular.min.js")"></script>
    <script src="@routes.Assets.at("lib/angular-ui-bootstrap/ui-bootstrap-tpls.min.js")"></script>
    <script src="@routes.Assets.at("lib/lz-string/lz-string.min.js")"></script>
    <script src="@routes.Assets.at("lib/marked/marked.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/filters.js")"></script>
    <script src="@routes.Assets.at("javascripts/services.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
}
