@main("Articles") {
    <div ng-controller="articleCtrl">
        <div class="page-header">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" ng-class="getClassByState('list')" ng-click="setState('list')"><span class="fa fa-list"></span> List all</button>
                <button type="button" class="btn btn-default" ng-class="getClassByState('add')" ng-click="setState('add')"><span class="fa fa-file-o"></span> Add new</button>
            </div>
            <h1>Articles <small>written by our authors</small></h1>
        </div>

        <div ng-switch on="state">
            <div ng-switch-when="add">
                <form name="articleForm" novalidate role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="title" placeholder="Enter title" ng-model="newArticle.title" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" ng-disabled="articleForm.$invalid" ng-click="save(newArticle)">
                                            <span class="fa fa-save"></span> Save
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="content">Content</label>
                                <textarea class="form-control" style="resize:none" name="content" rows="64" ng-model="newArticle.content"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="content">Preview</label>
                                <div class="article-preview well" ng-bind-html="preview(newArticle) | unsafe"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div ng-switch-when="list">
                <div class="list-group" ng-hide="articlesIsEmpty()">
                    <a class="list-group-item" ng-repeat="article in articles" href="/articles/{{article._id['$oid']}}">
                        <h3>{{article.title}}</h3>
                        <p>{{article.author}} - {{article.date["$date"] | date:"medium"}}</p>
                        <p>{{article.content}} ... </p>
                    </a>
                </div>
            </div>
        </div>

    </div>
}
