@main("") {	
	<div class="page-header">
		<h1>SaaS <small>Software as a Service</small></h1>
	</div>
	<div class="media">
		<img class="pull-left media-object" src="@routes.Assets.at("images/cloud_computing.jpg")"></img>
		<div class="media-body">		     
			<p class="lead">It is a software licensing and delivery model in which software is licensed on a subscription basis and is centrally hosted on the cloud by independent software vendors or application service providers.</p>
	  	
	  		<p>It is typically accessed by users using a thin client via a web browser and has become a common delivery model for many business applications, including office and messaging software, DBMS software, management software, CAD software, gamification, virtualization, accounting, collaboration, customer relationship management, management information systems, enterprise resource planning, invoicing, human resource management, content management and service desk management.</p>
  		</div>
	</div>		
}
